$header-color: #758090; 
$border-color: #E9ECF2;
$text-color: #293238;

* {
  margin: 0px;
  padding: 0px;
}

.testimonial {
  position: relative;
  display: grid;
  grid-template-columns: 12fr;
  grid-template-rows: 4fr;
  width: 1440 px;
  max-width: 1440 px;
  height: 1201 px;
  margin: 3%;
}

.client-testimonial {
  position: absolute;
  width: 1440px;
  height: 1201.5px;
  left: 68px;
  top: -1px;
  background: #ffffff;
}

.header {
  &__title {
    color: $header-color;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    line-height: 54px;
    margin: 100px 0;
  }
  h1 {
    text-align: center;
  }
  &__ellipse {
    position: absolute;
    z-index: -1;
    width: 501px;
    height: 501px;
    left: -122px;
    top: -60px;
    border-radius: 5%;
    background: linear-gradient(
      145.44deg,
      #e8edf0 10.54%,
      rgba(232, 237, 240, 0) 85.04%
    );
    border-radius: 450px;
  }
}

p {
  font-family: "Poppins", sans-serif;
  color: $text-color;
  font-size: 0.8rem;
  padding-left: 2%;
}

img {
  width: 100%;
  height: 100%;
}

.client {
  border: 1px solid $border-color;
  box-sizing: border-box;
  filter: drop-shadow(0px 3.84083px 20.1644px rgba(157, 175, 181, 0.25));
  border-radius: 15.3633px;
  margin: 2%;

  &__photo {
    border-radius: 15.3633px;
    overflow: hidden;

    &__round {
      max-width: 15%;
      min-width: 50 px;
    }
    &__half {
      border-radius: 15.3633px;
      overflow: hidden;
      width: 50%;
    }
  }

  &__block__info {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &__info {
    padding: 10px;

    &__main {
      margin: 3%;
      width: 50%;
    }
  }

  &__rating {
    display: flex;
    flex-direction: row;
    position: static;
    width: 77.78px;
    height: 12.48px;
    left: 0px;
    top: 47.68px;
    padding: 2%;
  }
}

.first {
  grid-area: 1 / 2 / 12 / 4;
}
.second {
  grid-area: 1 / 5 / 12 / 10;
}
.third {
  grid-area: 1 / 10 / 12 / 12;
}
